* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
:root{
    --color1:hsl(240, 2%, 13%);
    --color2:rgb(233, 233, 233);
    --color3:#ff7b7b;
    --color4:hsl(0, 0%, 22%);
    --shadow:-4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}
header{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.section2inheader {
    width: 100%;
    height: calc(100% - 150px);
    margin: auto;
    top: 70px;
    position: relative;
}

header .hi {
    width: 100%;
    height: 45%;
    position: relative;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tracks{
    margin-top: 10px;
    width:35% ;
    max-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    flex-wrap: wrap;
    border-radius: 8px;
    z-index: 100;
    position: relative;
}

.tracks::before{
    content: "Tracks";
    width: fit-content;
    background-color: var(--color1);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 3px;
    color: rgb(233, 233, 233);
    position: absolute;
    top: -30px;
    box-shadow: var(--shadow);
}

.tracks div{
    width: 70px;
    height: 70px;
    position: relative;
    background-color:var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: capitalize;
    box-shadow: var(--shadow);
}
.tracks div a{
    text-decoration: none;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tracks .open,.tracks .close ,.tracks .ex{
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 8px;
    animation: tra 1s infinite;
}
.tracks .close{
    --colortra:rgb(252, 66, 66);
    background-color: var(--colortra);
}

.tracks .open{
    --colortra:rgb(68, 255, 68);
    background-color: var(--colortra);
}

.tracks .ex{
    --colortra:rgb(255, 136, 0);
    background-color: var(--colortra);
}


@keyframes tra {
    0%{
        
    }
    50%{
        filter:drop-shadow(0px 0px 3px var(--colortra))
        drop-shadow(0px 0px 5px var(--colortra));
    }
    
} 

.tracks div img {
    width: 35px;
}
header .hi .text{
    width: 35%;
    max-width: 600px;
    min-width: 350px;
    height: 100%;
    max-height: 200px;
    color: var(--color1);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

header .image-header {
    width: 30%;
    min-width: 300px;
    height: 40%;
    position: absolute;
    bottom: 15%;
    left: -10px;
}

header .image-header img{
    width: 100%;
}

.gifheader {
    width: 25%;
    min-width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.gifheader img {
    width: 100%;
}

.progress {
    width: 340px;
    height: 160px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 10px -1px rgba(0,0,0,0.2),
    inset -4px -4px 10px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px  rgba(255,255,255,1),
    0.5px 0.5px 0px  rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#num,#num2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
}

#cr1,#cr2 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}

#cr1{
    animation: pro 2s linear forwards;
}
@keyframes pro{
    100%{
        stroke-dashoffset:150 ;
    }
}

#cr2{
    animation: pro2 2s linear forwards;
}
@keyframes pro2{
    100%{
        stroke-dashoffset:70 ;
    }
}

.one svg{
    position: absolute;
    top:0;
    left: 0;
}

.two svg {
    position: absolute;
    top:0;
    right: 0;
}
.one,.two{
    position: relative;
}
.one::before,.two::before {
    content: "text";
    position: absolute;
    width: 90px;
    height: 30px;
    bottom:-30px;
    right:50%;
    transform: translate(50%,50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(117, 117, 117),var(--color1));
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    /* font-weight: 500; */
}

.one::before{
    content: "Attendees";
}

.two::before {
    content: "Solutions";
}
/* blur div */



/*  */
header .social {
    height: 30px;
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50% , 50%);
}

header .social ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .social ul li {
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    font-size: 1.2rem;
    cursor: pointer;
}
header .social span{
    width: 70px;
    height: 1px;
    background-color: rgb(94, 94, 94);
}

header .social a{
    height: 100%;
    text-decoration: none;
    color: var(--color1);
}

header .social img{
    height: 100%;
}

@media(max-width:900px) {
    header{
        background-color: var(--color1);
    }
    .section2inheader {
        top: 70px;
        height: 80%;
        margin: auto;
    }
    .gifheader {
        display: none;
    }
    header .image-header{
        display: none;
    }
    .progress {
    display: none;
    }
    header .hi{
        width:90% ;
        height: 100%;
        margin: auto;
        flex-direction: column;

    }
    header .hi .text{
        color:var(--color2);
        font-size: 1.4rem;
        width: 100%;
        height: fit-content;
    }
    .tracks{
        height: 50%;
        max-height: 280px;
        width: 100%;
        
    }
    header .social {
       display: none;
    }
}

