* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
:root{
    --color1:hsl(240, 2%, 13%);
    --color2:rgb(233, 233, 233);
    --color3:#ff7b7b;
    --color4:hsl(0, 0%, 22%);
    --shadow:-4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}
header{
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    position: relative;
}

.section2inheader {
    width: 100%;
    height: 90%;
    top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hi {
    width: 50%;
    height: 100%;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

header .homeimg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .homeimg .homeimg1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .homeimg .homeimg1 img{
    height: 350px;
    animation: up 10s linear infinite;
}

@keyframes up {
    0%,
  100% {
    transform:rotate(5deg)
  }
  50% {
    transform: rotate(0deg);
  }
}


.tracks{
    width:100% ;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    row-gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
    z-index: 100;
    position: relative;
}

.tracks::before{
    content: "Tracks";
    width: fit-content;
    background-color: var(--color1);
    border: 1px solid var(--color4);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 3px;
    color:var(--color2);
    position: absolute;
    top: -35px;
    box-shadow: var(--shadow);
}

.tracks div{
    width: 70px;
    height: 70px;
    position: relative;
    background-color: var(--color1);
    border: 1px solid var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: capitalize;
    box-shadow: var(--shadow);
}
.tracks div a{
    text-decoration: none;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tracks .open,.tracks .close ,.tracks .ex{
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 8px;
    animation: tra 1s infinite;
}
.tracks .close{
    --colortra:rgb(252, 66, 66);
    background-color: var(--colortra);
}

.tracks .open{
    --colortra:rgb(68, 255, 68);
    background-color: var(--colortra);
}

.tracks .ex{
    --colortra:rgb(255, 136, 0);
    background-color: var(--colortra);
}


@keyframes tra {
    0%{
        
    }
    50%{
        filter:drop-shadow(0px 0px 5px var(--colortra))
        drop-shadow(0px 0px 3px var(--colortra));
    }
    
} 

.tracks div img {
    width: 35px;
}

header .hi .text{
    width: 90%;
    max-width: 530px;
    min-width: 350px;
    height: 100%;
    max-height: 200px;
    color: var(--color2);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}


header .social {
    height: 30px;
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50% , 50%);
}

header .social ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .social ul li {
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    font-size: 1.2rem;
    cursor: pointer;
}
header .social span{
    width: 70px;
    height: 1px;
    background-color: rgb(94, 94, 94);
}

header .social a{
    height: 100%;
    text-decoration: none;
    color: var(--color1);
}

header .social img{
    height: 100%;
}

@media(max-width:900px) {
    header{
        background-color: var(--color1);
    }
    .section2inheader {
        top: 40px;
        height: 80%;
    }

    header .hi{
        width:90% ;
        height: 100%;
        margin: auto;
        flex-direction: column;

    }
    header .hi .text{
        color:var(--color2);
        font-size: 1.4rem;
        width: 100%;
        height: 30%;
    }
    .tracks{
        height: 50%;
        max-height: 280px;
        width: 100%;
    }
    header .homeimg{
        display: none;
    }
    header .social {
       display: none;
    }
}

