:root{
    --color1:hsl(240, 2%, 13%);
    --color2:rgb(233, 233, 233);
    --color3:#ff7b7b;
    --color4:hsl(0, 0%, 22%);
    --shadow:-4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}

/* .header_nav{
    position: fixed;
} */
header{
    background-color: var(--color1);
    height: fit-content;
    padding-bottom: 100px;
}

.sec2 ,.part2{
    width: 80%;
    top:100px;
    margin: auto;
    background-color: var(--color1);
    border: 1px solid var(--color4);
    position: relative;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 20px;
    color: var(--color2);
}

.part1{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.part1 .title{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 30px;
}

.part1 .title .trackname{
    font-size: 2rem;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.part1 .title .trackname::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    bottom: -7px;
    border-radius:3px;
    background-color: var(--color3);
}

.part1 .title .trackname::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    bottom: -5px;
    left: calc(50% + 18px);
    border-radius:3px;
    background-color: var(--color3);
    animation: tra 1s infinite;
}

@keyframes tra {
    0%{
        
    }
    50%{
        box-shadow: 0px 0px 7px 2px var(--color3);
    }
    
}

.part1 .title .bio{
    width: 100%;
    height: fit-content;
    font-size: 1rem;
}

#uiux .bio{
    font-size: 0.95rem;
}

.leader{
    width: 65%;
    max-width: 450px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

.leader .imgleader{
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader .imgleader img{
    border-radius: 20px;
    width: 100%;
}

.detailsleader{
    width: 50%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.detailsleader ul{
    width: 100%;
}
.detailsleader ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}
.detailsleader ul .name {
    font-size: 1.2rem;
    font-weight: 500;
}
.detailsleader ul .job{
    background-image: linear-gradient(
        to bottom right,
        hsl(0, 0%, 25%) 0%,
        hsla(0, 0%, 25%, 0) 50%
        );;
    width: fit-content;
    border-radius: 5px;
    padding: 1px 10px;
    margin: auto;
    border: 1px solid var(--color4);
    text-transform: capitalize;
    height: 25px;
}
.detailsleader .contact{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.detailsleader .contact::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -5px;
    background-color: #696969;

}

.detailsleader .contact li {
    background-image: linear-gradient(
        to bottom right,
        hsl(0, 0%, 25%) 0%,
        hsla(0, 0%, 25%, 0) 50%
        );;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: var(--color3);
    box-shadow: var(--shadow);
    margin: 5px;
}

.detailsleader .contact li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsleader .contact img{
    width: 30px;
}

.part2{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.part2 .leader{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    /* border-bottom: 1px solid var(--color4); */
}

.part2 .leader::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:3px;
    background-color:var(--color3);
}

@media (max-width:900px) {
    .sec2{
        width: 90%;
        top:90px ;
        padding: 10px;
        /* height: 450px; */
    }
    .part1{
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }
    .part1 .title{
        width: 100%;
        height: 30px;
        flex-direction: column;
    }

    .part1 .title .trackname{
        padding: 0;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    .title .bio{
        display: none;
        
    }
    .leader{
        width: 100%;
        justify-content: space-between;
    }
    .leader .imgleader{
        width: 50%;
    }

    .detailsleader ul{
        height: 100%;
    }
    .detailsleader ul li{
        padding: 5px;
    }

    .up_to_home{
        bottom: 95px;
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
}

/*  owner  */
.owner,.founder{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.owner img {
    height: 85%;
    animation: o 1s linear infinite;
}

.owner .t2{
    animation: o2 1s linear infinite;

}
.founder img{
    height: 85%;
}
@keyframes o {

        0%{
            
        }
        50%{
            filter: drop-shadow(0px 0px 5px rgb(0, 183, 255)) ;
        }
        
    
}

@keyframes o2 {

    0%{
        
    }
    50%{
        filter: drop-shadow(0px 0px 5px rgb(0, 255, 0)) ;
    }
    

}