@import url(../css/nav.css);
:root{
    --color1:hsl(240, 2%, 13%);
    --color2:rgb(233, 233, 233);
    --color3:#ff7b7b;
    --color4:hsl(0, 0%, 22%);
    --shadow:-4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}
header{
    height: fit-content;
    min-height: 100vh;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    margin:90px  auto 0 auto;
    column-gap: 10px;
    row-gap: 10px;
}

.sec2 .ml,.sec2 .graphic,.sec2 .part2 .flutter,.sec2 .part2 .front{
    padding: 15px;
    background-color: var(--color1);
    border: 1px solid var(--color4);
    position: relative;
    border-radius: 20px;
    box-shadow: var(--shadow);
    min-width: 200px;
    height: 100%;
}
.sec2 ul{
    width: 100%;
}

.sec2 ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    color: var(--color2);
    padding: 6px;
    text-transform: capitalize;
}

.sec2 ul li img{
    height: 30px;
}

.part2{
    display: flex;
    flex-direction:column;
    row-gap: 10px;
}

.head{
    width: 100%;
    color: var(--color2);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}

.head p{
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid var(--color3);
    padding: 0 0 7px 0;
    margin-bottom: 10px;
}

@media (max-width:900px) {
    header{
    padding-bottom: 100px;
    }
}